@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&family=Mulish&display=swap');

:root {
	--primary-color: #cff9f7;
	--secondary-color: #01b8b0;
	--white-color: #ffffff;
	--black-color: #404a53;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	background-color: #fff;
	font-family: 'Mulish', sans-serif;
}

* {
	margin: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
label,
input,
button,
ul,
li {
	margin: 0;
	padding: 0;
	line-height: 1.3;
}

/* ---------------- Navbar and burger menu ------------------ */
.navbar-container {
	height: fit-content;
	text-align: center;
	width: 100vw;
	z-index: 100;
	background-color: #fff;
}
.navbar-line {
	padding: 5px 0;
	font-size: 16px;
	letter-spacing: 0.5px;
}
.navbar-line-icon {
	color: #19a382;
	margin-right: 2px;
	font-size: 18px;
}
.navbar-contact-links {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 1px solid #3c3c3c;
}
.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.logo-container h1 {
	font-size: 28px;
	color: #19a382;
	margin-right: 2px;
}
.logo-image-container {
	overflow: hidden;
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
}
.logo-image-container .logo-image {
	height: 40px;
	width: 40px;
}
.navbar-buttons-container {
	display: flex;
}
.navbar-buttons-container button:nth-child(1) {
	margin-right: 20px;
}
nav {
	width: 100%;
	height: 50px;
	background-color: #19a382;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 30px;

	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.burger-menu {
	display: none;
}

.menu .links {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	list-style: none;
	text-decoration: none;
}

.links .link {
	margin: 0px 5px;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
	box-sizing: border-box;
	cursor: pointer;
	transform: scaleY(0);
	animation: showLinks 0.5s forwards 0.3s;
	padding: 5px 15px;
	border-radius: 10px;
	background: linear-gradient(#19a382 50%, #fff 0) 0 var(--_d, 0) / 100% 200%
			no-repeat,
		linear-gradient(#19a382 50%, #19a382 0) 0 var(--_d, 0) / 100% 200% no-repeat;

	transition: 0.8s;
}
.active,
.links .link:hover {
	--_d: 100%;
	color: #0a1930 !important;
}

.links Link {
	text-decoration: none;
}
@keyframes showLinks {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

.container {
	padding-bottom: 100px;
}
.landing-container {
	width: 100vw;
	height: fit-content;
	text-align: center;
	background-color: #a2c7b6;
	padding: 40px 0;
	color: #000;
}
.landing-container h1,
.landing-container h2 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 0px 5vw;
}
.landing-container p {
	font-size: 23px;
	padding: 20px 10vw;
	padding-bottom: 50px;
	text-align: center;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.div-container {
	width: 100vw;
	padding: 40px 20px;
	display: block;
	text-align: center;
}
.div-container h1,
.div-container h2 {
	font-weight: 600;
	letter-spacing: 1px;
}

/* ---------------- Homepage starts ----------------*/
.homepage-container {
	padding-bottom: 100px;
}
.homelanding-container {
	width: 100vw;
	height: fit-content;
	text-align: center;
	background-color: #a2c7b6;
	padding: 40px 0;
	color: #000;
}
.homelanding-container h1 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 0px 5vw;
}
.homelanding-container p {
	font-size: 23px;
	padding: 20px 10vw;
	padding-bottom: 50px;
	text-align: center;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.homelanding-form {
	width: 100vw;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.homelanding-form h2 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0 30px 0;
	padding: 0px 5vw;
}
.homelanding-services-container {
	padding: 30px 0 0 0;
	width: 100vw;
	text-align: center;
}
.homelanding-services-container h2 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0 30px 0;
	padding: 0px 5vw;
}
.homelanding-services {
	padding: 30px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.homelanding-service {
	width: 250px;
	height: 180px;
	padding: 30px;
	font-size: 24px;
	text-decoration: none;
	border: 2px solid #000;
	background-color: #19a382;
	border-radius: 10px;
	color: #fff;
	margin: 0 30px;
	transition: all 0.5s ease-in-out;
}
.homelanding-service i {
	font-size: 30px;
}
.homelanding-service h4 {
	margin: 15px 0 0 0;
	letter-spacing: 1px;
}
.homelanding-service:nth-child(3) h4 {
	padding: 0 50px;
}
.homelanding-service:hover {
	background-color: #fff;
	color: #19a382;
}
.team-container {
	width: 100vw;
	padding: 40px 20px;
	display: block;
	text-align: center;
}
.team-container h1 {
	font-weight: 600;
	letter-spacing: 1px;
}
.team-details {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.team-details h3 {
	width: 200px;
	height: 150px;
	padding: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 40px 50px;
	letter-spacing: 0.5px;
}
.team-details h3:nth-child(3) {
	padding-top: 30px;
}
.homepage-features-container {
	width: 100vw;
	padding: 40px 20px;
	display: block;
	text-align: center;
}
.homepage-features-container h1 {
	font-weight: 600;
	letter-spacing: 1px;
}
.homepage-features {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
}
.homepage-features-details,
.itrpage-requirement {
	text-align: left;
	padding: 40px;
}
.homepage-features-details h5,
.itrpage-requirement h5 {
	margin: 20px 0;
	letter-spacing: 0.5px;
}
.homepage-features-details h5 i,
.itrpage-requirement h5 i {
	font-size: 24px;
	margin: 0 5px;
	color: #19a382;
}

/* ----------------ITR page starts -------------------*/

.itrpage-container {
	padding-bottom: 100px;
}
.itrpage-landing-container,
.itrpage-features-container {
	width: 100vw;
	height: fit-content;
	text-align: center;
	background-color: #a2c7b6;
	padding: 40px 0;
	color: #000;
}

.itrpage-landing-container h1,
.itrpage-landing-container h2,
.itrpage-features-container h2 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 0px 5vw;
}
.itrpage-landing-container p {
	font-size: 20px;
	padding: 10px 10vw;
	text-align: center;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.itrpage-landing-container h2 {
	margin-top: 40px;
}
.itrpage-landing-form {
	width: 100vw;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.itrpage-features {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 5vw 20px 5vw;
}
.itrpage-feature {
	position: relative;
	width: 300px;
	height: 200px;
	text-align: center;
}
.itrpage-feature i {
	position: absolute;
	left: 40%;
	padding: 15px;
	display: block;
	height: 70px;
	width: 70px;
	background-color: #19a382;
	border-radius: 50%;
	color: #fff;
	font-size: 27px;
	float: center;
	transition: all 0.5s ease-in-out;
}
.itrpage-feature:hover.itrpage-feature i {
	background-color: #fff;
	color: #19a382;
}
.itrpage-feature h4 {
	margin-top: 100px;
	padding: 0 30px;
}
.itrpage-feature:nth-child(2) h4,
.itrpage-feature:nth-child(3) h4 {
	padding: 0 80px;
}

.itrpage-details-container,
.itrpage-steps-container,
.itrpage-requirement-container {
	width: 100vw;
	height: fit-content;
	text-align: center;
	background-color: #fff;
	padding: 40px 0;
	color: #000;
}
.itrpage-details-container h1,
.itrpage-steps-container h1,
.itrpage-requirement-container h1 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 0px 5vw;
}
.itrpage-details-container p {
	font-size: 20px;
	padding: 10px 10vw;
	text-align: center;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.itrpage-requirements {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.itrpage-steps-container {
	padding: 40px 0 20px;
	background-color: #f5f8f7;
}
.itrpage-steps-container h1 {
	margin: 0;
}

/* ---------------- Sample page starts ----------------*/
.samplepage-container {
	padding-bottom: 100px;
}
.samplepage-landing-container {
	width: 100vw;
	height: fit-content;
	text-align: center;
	background-color: #a2c7b6;
	padding: 40px 0;
	color: #000;
}

.samplepage-landing-container h1,
.samplepage-landing-container h2 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 0px 5vw;
}
.samplepage-landing-container p {
	font-size: 20px;
	padding: 10px 10vw;
	text-align: center;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.samplepage-landing-container h2 {
	margin-top: 40px;
}
.samplepage-landing-form {
	width: 100vw;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.samplepage-details-container,
.samplepage-reports-container,
.samplepage-certificate-container {
	width: 100vw;
	height: fit-content;
	text-align: center;
	padding: 40px 10vw;
	color: #000;
}
.samplepage-details-container h2,
.samplepage-reports-container h2,
.samplepage-certificate-container h2 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 0px 5vw;
}
.samplepage-details-container p,
.samplepage-detail {
	font-size: 20px;
	width: 100%;
	font-weight: 500;
	letter-spacing: 0.3px;
	text-align: left;
	padding: 10px 0;
}
.samplepage-details-container ul {
	padding: 0 0 0 30px;
}
.sample-page-reports {
	display: flex;
	align-items: center;
	justify-content: center;
}
.samplepage-report-container p {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}
.samplepage-report {
	height: 80vh;
	width: 450px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 2px solid #000;
	border-radius: 10px;
	margin: 10px 30px;
}
.report1 {
	background-image: url(./assets/SampleReport1.jpg);
}
.report2 {
	background-image: url(./assets/SampleReport2.jpg);
}
.samplepage-certificate-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.samplepage-certificate {
	width: 70vw;
	height: fit-content;
	padding: 30px 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	border: 2px solid #000;
	border-radius: 10px;
	letter-spacing: 0.3px;
}
.samplepage-certificate-top {
	width: 100%;
	font-size: 22px;
	padding: 0 0 50px 0;
}
.samplepage-certificate-top h6 {
	font-weight: 600;
}
.samplepage-certificate-top h6:nth-child(4) {
	padding-top: 15px;
}
.samplepage-certificate-top h6:nth-child(5) {
	padding-top: 30px;
}
.samplepage-certificate-name-details {
	width: 100%;
	text-align: left;
	padding-bottom: 30px;
	font-size: 16px;
}
.samplepage-certificate-details-container {
	width: 100%;
	text-align: left;
	padding-bottom: 30px;
	font-size: 20px;
}
.samplepage-certificate-details-container ul {
	padding: 20px 0 20px 10px;
	list-style: none;
	font-size: 16px;
}
.samplepage-certificate-details:nth-child(3) h6 {
	font-weight: 600;
}
.samplepage-certificate-details:nth-child(4) ul li:nth-child(4) {
	font-weight: 600;
}
.samplepage-certificate-bottom {
	width: 100%;
	text-align: left;
	font-size: 16px;
}
.samplepage-certificate-bottom h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.8;
}
.samplepage-certificate-bottom p {
	line-height: 1.8;
}

/* ---------------- Property Valuation page starts ----------------*/
.propertypage-container {
	padding-bottom: 100px;
}
.propertypage-landing-container p {
	margin-bottom: 30px;
}
.propertypage-certificate-container {
	width: 100vw;
	height: fit-content;
	text-align: center;
	padding: 40px 20px;
	color: #000;
}
.propertypage-certificate-container h2 {
	font-weight: 600;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 0px 5vw;
}
.propertypage-certificate-details {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0 0 0;
}
.propertypage-certificate-text {
	padding: 20px 40px;
}
.propertypage-certificate-text p {
	max-width: 700px;
	text-align: left;
	font-size: 20px;
	padding-bottom: 30px;
}
.propertypage-doc-requirments-container {
	background-color: #fff;
}
.propertypage-summary-details {
	text-align: left;
	margin: 20px 0;
	letter-spacing: 0.5px;
}
.propertypage-summary-detail {
	margin: 10px;
}
.propertypage-summary-detail span {
	font-size: 20px;
}
.propertypage-summary-detail-title {
	font-weight: 600;
}
.propertypage-summary-end {
	text-align: left;
	font-size: 20px;
	margin: 10px;
}
/* --------*/
.cd-container {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	background: #fff;
	padding: 0 10%;
	border-radius: 2px;
}
.cd-container::after {
	content: '';
	display: table;
	clear: both;
}
#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
#cd-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 25px;
	height: 100%;
	width: 4px;
	background: #19a382;
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block:after {
	content: '';
	display: table;
	clear: both;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
.cd-timeline-img {
	background-color: #19a382;
	position: absolute;
	top: 8px;
	left: 12px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #19a382, inset 0 2px 0 rgba(0, 0, 0, 0.08),
		0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	margin-right: 30px;
	background: #19a382;
	border-radius: 2px;
	padding: 1em;
}
.cd-timeline-content:after {
	content: '';
	display: table;
	clear: both;
}
.cd-timeline-content h2 {
	color: rgba(255, 255, 255, 0.9);
	margin-top: 0;
	margin-bottom: 5px;
}
.cd-timeline-content p,
.cd-timeline-content .cd-date {
	color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
	display: inline-block;
	color: #19a382;
}
.cd-timeline-content p {
	margin: 1em 0;
	line-height: 1.6;
}
.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid #19a382;
}

@media screen and (min-width: 1170px) {
	#cd-timeline {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
	}
	.cd-timeline-block {
		margin: 4em 0;
	}
	.cd-timeline-block:first-child {
		margin-top: 0;
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
	.cd-timeline-img {
		width: 30px;
		height: 30px;
		left: 50%;
		margin-left: -15px;
		margin-top: 15px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.cd-timeline-content {
		color: white;
		margin-left: 0;
		padding: 1.6em;
		width: 36%;
		margin: 0 5%;
	}
	.cd-timeline-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: #333c42;
	}
	.cd-timeline-content .cd-date {
		position: absolute;
		width: 100%;
		left: 135%;
		top: 28px;
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #333c42;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
		left: auto;
		right: 135%;
		text-align: right;
	}
}

/* ---------------- Contact page starts ----------------*/
.contactpage-landing-container {
	background-color: #fff !important;
}
.contactpage-details {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}
.contactpage-links {
	padding: 0 20px;
}
.contactpage-details h2 {
	padding: 0 2vw;
}

.networth-form,
.property-form,
.itr-form {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
	margin-top: 30px;
	background-color: #0a1930;
	position: relative;
	z-index: 20;
	overflow: hidden;
}

.faq-accordian-container {
	padding: 4vw 0;
	background-color: #fff;
}
.faq-container {
	height: fit-content;
	width: 100vw;
	background-color: #a2c7b6;
	overflow: hidden;
}
.faq-container .faq-landing {
	height: fit-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 100px 0px;
}
.faq-landing .faq-text {
	text-align: left;
	color: #000;
	padding: 20px 20px;
	margin-left: 30px;
}
.faq-text h1 {
	font-size: 36px;
	font-weight: 400;
	color: #19a382;
}
.faq-text p {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}

.faq-image img {
	height: 400px;
	width: 400px;
}

.faq-info .faq-image,
.faq-info .faq-text {
	width: 50%;
	text-align: center;
}
.faq-image img {
	height: 100%;
	width: 100%;
}

.faq-text p {
	margin: 10px 0;
	letter-spacing: 1px;
	max-width: 80%;
}

.accordion {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: #000;
}
.accordion h1 {
	margin-bottom: 20px;
	letter-spacing: 5px;
	font-size: 50px;
}
.accordion-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	text-align: center;
	color: #000;
	border: none;
	background-color: transparent;
}
.accordion-head {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #19a382;
	padding: 15px;
	border: none;
	color: #fff;
	position: relative;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
}
.accordion-title {
	width: 100%;
}
.accordion-content {
	width: 80%;
	background-color: #a2c7b6;
	padding: 15px;
	border-top: 1px solid #d3d3d3;
	transition: all 0.5s ease-in-out;
	color: #000;
	transition: 0.5s;
	font-size: 18px;
}

.networth-container,
.property-container {
	width: 100vw;
	margin-top: 70px;
	overflow: hidden;
	background-color: #0a1930;
}
.networth-landing,
.property-landing {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 20px;
	width: 100%;
	background-position: cover;
	background-size: center;
	height: 100vh;
}
.networth-landing {
	justify-content: center;
	background-image: url('./assets/backgroundNew.jpg');
	position: relative;
}
.networth-bg,
.itr-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(5, 5, 5, 0.2);
}

.property-landing .property-landing-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}
.networth-landing-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 3;
	width: 55%;
}
.networth-landing-text h1 {
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

	backdrop-filter: blur(15px);
	padding: 10px 30px;
	margin-bottom: 30px;
	color: #000;
}
.networth-landing-details {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	border: 1px solid rgba(10, 25, 48, 0.25);
	border-radius: 20px;
	background-color: rgba(10, 25, 48, 0.45);
	box-shadow: 0 0 10px 1px rgba(10, 25, 48, 0.25);

	backdrop-filter: blur(15px);
	padding: 30px;
	text-align: center;
	overflow: hidden;
}
.circle,
.circle-top {
	position: absolute;
	bottom: -30px;
	right: -15px;
	height: 100px;
	width: 100px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.25);
}
.circle-top {
	bottom: none;
	right: none;
	top: -30px;
	left: -15px;
}

.networth-landing-text p,
.property-landing-text p {
	margin-top: 10px;
	letter-spacing: 0.5px;
	color: #fff;
	font-size: 20px;
}
.networth-landing-text p {
	max-width: 90%;
	font-size: 20px;
}
.networth-landing .networth-landing-img,
.property-landing .property-landing-img {
	width: 45%;
}
.networth-landing-img img,
.property-landing-img img {
	height: 100%;
	width: 100%;
}
.networth-container1,
.networth-container2,
.networth-container3 {
	width: 100vw;
	text-align: center;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #0a1930;
	color: #fff;
}
.networth-container3 {
	background-color: rgb(255, 255, 255, 0.9);
	color: #000;
}
.networth-container1 p,
.networth-container2 p {
	margin-top: 10px;
	letter-spacing: 1px;
	width: 70%;
}
.networth-container3 .networth-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
	color: #000;
}
.networth-left,
.networth-right {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: #f4f4f4;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

	backdrop-filter: blur(15px);
	padding: 20px;
	width: 450px;
	font-size: 15px;
	border-width: 5px;
	border-style: solid;
	border-image: linear-gradient(to bottom, rgb(40, 229, 242), #0a1930) 1 100%;
}
.networth-left h6,
.networth-right h6 {
	font-size: 20px;
	margin-bottom: 5px;
	color: rgb(31, 179, 190);
	font-weight: 400;
}
.networth-left div,
.networth-right div {
	margin-bottom: 5px;
}
.networth-left div span,
.networth-right div span {
	margin-left: 4px;
}
.networth-left {
	margin-right: 20px;
}
.property-container1,
.property-container2,
.property-container3 {
	width: 100vw;
	text-align: center;
	padding: 40px;
	background-color: #fff;
	background-color: rgb(255, 255, 255, 0.9);
}

.property-container3 {
	background-color: rgb(255, 255, 255, 0.9);
}

.property-container1 p {
	margin-top: 10px;
	letter-spacing: 1px;
}
.prop-cont2-content,
.prop-cont3-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 40px;
}
.prop-cont2-left,
.prop-cont2-right,
.prop-cont3-left,
.prop-cont3-right {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	width: 400px;
	font-size: 15px;
	border-bottom: solid 5px #004cff;
	border-right: solid 5px #004cff;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
}

.prop-cont2-left div,
.prop-cont2-right div,
.prop-cont3-left div,
.prop-cont3-right div {
	margin-bottom: 5px;
}
.prop-cont2-left div span,
.prop-cont2-right div span,
.prop-cont3-left div span,
.prop-cont3-right div span {
	margin-left: 4px;
}

.timeline-container {
	width: 100vw;
}
.timeline-container .timeline-heading {
	min-width: 80%;
	text-align: center;
	margin: 30px;
	color: #fff;
}
/*-----------------------CUstom Form -----------------------*/
.custom-form {
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 0 40px 0;
}
.horizontal-form {
	flex-direction: row;
	width: 100%;
	padding: 0 20px;
	align-items: flex-end;
	flex-wrap: wrap;
}
.custom-form-input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	position: relative;
}
.horizontal-form .custom-form-input-container {
	margin: 0 10px 0 10px;
}
.horizontal-contact-form .custom-form-input-container {
	margin: 20px 10px;
}
.custom-form-input-container label {
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #fff;
	margin-bottom: 0;
	background-color: #19a382;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 20px 5px 20px;
	width: fit-content;
	position: absolute;
	top: 0px;
}
.custom-form-input {
	outline: none;
	width: 330px;
	background-color: #fff;
	border: 2px solid #19a382;
	border-radius: 2px;
	padding: 10px 20px;
	margin-top: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.5s ease-in-out;
}
.horizontal-form .custom-form-input {
	width: 250px;
}
.horizontal-contact-form .custom-form-input {
	width: 280px;
}
.custom-form-submit {
	width: 330px;
	background-color: #19a382;
	color: #fff;
	border: 2px solid #19a382;
	border-radius: 2px;
	padding: 10px 20px;
	margin-top: 10px;
	transition: all 0.5s ease-in-out;
}
.horizontal-form .custom-form-submit {
	width: 200px;
	margin: 0 10px 0 10px;
}
.horizontal-contact-form .custom-form-submit {
	width: 280px;
	position: relative;
	top: -22px;
}
.custom-form-input::placeholder {
	transition: all 0.5s ease-in-out;
	font-size: 16px;
	letter-spacing: 1px;
}
.custom-form-input:focus {
	border-radius: 2px;
	background-color: #19a382;
	transition: all 0.5s ease-in-out;
	color: #fff;
}
.custom-form-input:focus::placeholder {
	font-size: 12px;
	color: #19a382;
	transition: all 0.5s ease-in-out;
}
.custom-form-submit:hover {
	background-color: #fff;
	color: #19a382;
}

.contact-button {
	width: fit-content;
	text-decoration: none;
	line-height: 1;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	border: none;
	cursor: pointer;
}
.contact-button-decor {
	position: absolute;
	inset: 0;
	background-color: #19a382;
	transform: translateX(-100%);
	transition: transform 0.3s;
	z-index: 0;
}

.contact-button-content {
	display: flex;
	align-items: center;
	font-weight: 600;
	position: relative;
	overflow: hidden;
}

.contact-button-icon {
	width: 48px;
	height: 40px;
	background-color: #19a382;
	color: #fff;
	display: grid;
	place-items: center;
	font-weight: 600;
	font-size: 20px;
}

.contact-button-text {
	display: inline-block;
	transition: color 0.2s;
	padding: 2px 1.5rem 2px;
	padding-left: 0.75rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.contact-button:hover .contact-button-text {
	color: #fff;
}

.contact-button:hover .contact-button-decor {
	transform: translate(0);
}

/*---------------------Custom Link ------------------------*/
.custom-link {
	width: fit-content;
	height: fit-content;
	display: block;
	overflow: hidden;
	background-color: #fff;
	border: none;
	cursor: pointer;
}
.custom-link-title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.custom-link-decor {
	position: absolute;
	inset: 0;
	background-color: #19a382;
	transform: translateX(-100%);
	transition: transform 0.3s;
	z-index: 0;
}
.custom-link-title i {
	width: 48px;
	height: 40px;
	background-color: #19a382;
	color: #fff;
	display: grid;
	place-items: center;
	font-weight: 600;
	font-size: 20px;
}
.custom-link:hover .custom-link-decor {
	transform: translate(0);
}

/*---------------------------Company Card------------------------------*/

.company-card {
	height: fit-content;
	width: fit-content;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 20px;
	overflow: hidden;
}
.company-card-top {
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	position: relative;
	padding: 20px 00px 60px 0px;
	background-color: #fff;
}
.company-card-name {
	display: flex;
	align-items: center;
	justify-content: center;
}
.company-card-name img {
	height: 30px;
	width: 30px;
}
.company-card-name h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 0;
}
.company-card-top h5 {
	position: absolute;
	font-size: 15px;
	bottom: 0;
	right: 0;
	padding: 5px 10px;
	background-color: #a2c7b6;
	color: #000;
	font-weight: 600;
	border-radius: 10px 0 0 0;
}
.company-card-top p {
	font-size: 15px;
}

.company-card-details {
	display: flex;
	flex-direction: column;
	background-color: #19a382;
	border-radius: 20px 0px 0px 0px;
	padding: 20px 0 35px 0;
	position: relative;
}
.company-card-details button {
	background-color: transparent;
	border: none;
	display: flex;
	padding: 10px 20px;
	color: #fff;
	font-size: 15px;
}
.company-card-details button i {
	margin-right: 3px;
}
.company-card-details span {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #fff;
	color: #000;
	padding: 3px;
	font-size: 12px;
}
.company-card-details span i {
	color: green;
	margin-right: 3px;
	font-size: 10px;
}

/*---------------------------Google Reviews----------------------*/
.google-reviews-container {
	height: fit-content;
	width: 100vw;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.google-reviews-container h2 {
	font-weight: 600;
	letter-spacing: 1;
}
.google-reviews {
	width: 70vw;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 10px;
	margin: 30px 0;
}
.google-reviews-top p {
	letter-spacing: 1px;
	margin: 0 0px 0 10px;
	color: rgba(0, 0, 0, 0.7);
}
.google-reviews-company-name {
	display: flex;
	align-items: center;
	justify-content: center;
}
.google-reviews-company-name img {
	width: 50px;
	height: 50px;
}
.google-reviews-company-name h2 {
	font-weight: 600;
}
.google-reviews-company-rating {
	display: flex;
	align-items: center;
	margin: 0 0 0 10px;
}
.google-reviews-company-rating h3 {
	margin: 10px 5px 0 0;
	color: #e39417;
}
.google-reviews-company-rating span {
	margin: 15px 0 0 10px;
}
.google-reviews-details {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0 0 0;
}
.google-review {
	display: flex;
}
.google-review-image {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-image: url(./assets/face-2.jpg);
	background-position: center;
	background-size: cover;
}
.google-review-info {
	margin: 0 0 0 10px;
}
.google-review-info h5 {
	font-size: 18px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
}
.google-review-info p {
	color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	margin: 5px 0 0 2px;
}
.star-container i {
	margin: 0 2px;
	font-size: 26px;
	color: #e39417;
}
.star-small i {
	font-size: 22px;
	margin: 0 4px 0 0;
}
/*---------------------------Timeline component------------------------------*/
.timeline-container {
	font-size: 18px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #f5f8f7;
	padding: 40px 0 60px 0;
}
.timeline-item {
	position: relative;
	width: 100%;
	max-width: 25em;
	border-radius: 0.5em;
	padding: 20px;
	z-index: 1;
	transition: all 0.2s;
	cursor: pointer;
	overflow: hidden;
}
.timeline-item-numberWrap {
	position: absolute;
}
.timeline-item-number {
	font-family: 'maven pro', sans-serif;
	font-size: 13em;
	font-weight: 900;
	width: 0.9em;
	text-a.timeline-itemgn: center;
}
.timeline-item-number {
	color: var(--color);
}
.timeline-item-coverWrap {
	transform: rotate(130deg);
	position: absolute;
	width: 18em;
	height: 15em;
	left: -3em;
	top: -1em;
}
.timeline-item-numberCover {
	position: absolute;
	background: #f5f8f7;
	width: 18em;
	height: 6em;
	border-radius: 50% 50% 0 0;
	border-bottom: 3px solid #f5f8f7;
	transition: all 0.4s;
}
.timeline-item-numberCover::before {
	position: absolute;
	content: '';
	bottom: 5px;
	left: 4em;
	right: 4em;
	top: 5em;
	box-shadow: 0 0 30px 17px #48668577;
	border-radius: 100px / 10px;
	z-index: -1;
}
.timeline-item-numberCover::after {
	position: absolute;
	bottom: 0;
	content: '';
	left: -10%;
	width: 120%;
	height: 150%;
	background: radial-gradient(at bottom, #48668533, transparent, transparent);
	z-index: 1;
}
.timeline-item-content {
	margin: 8em 3em 1em 7em;
	position: relative;
}
.timeline-item-content p {
	line-height: 1.5em;
	font-size: 20px;
}
.timeline-item:hover .timeline-item-numberCover {
	border-radius: 100%;
}
.timeline-item-icon {
	position: absolute;
	font-size: 40px;
	text-align: center;
	top: -1.5em;
	left: 50%;
	transform: translatex(-50%);
	color: var(--color);
}

/*---------------------------Footer------------------------------*/
.footer-container {
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	border-top: 25px solid #19a382;
}
.footer-top {
	width: 80vw;
	height: fit-content;
	padding: 30px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #19a382;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	top: -70px;
	z-index: 2;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.footer-top-head {
	letter-spacing: 0.5px;
}
.footer-top-links {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-top-links h4 {
	font-size: 20px;
}
.footer-top-link {
	display: flex;
}
.footer-social-link {
	color: #fff;
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 100%;
	margin-left: 10px;
	background-color: #cd201f;
	transition: all 0.5s ease-in-out;
}
.footer-social-link:nth-child(2) {
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
}
.footer-social-link i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -58%);
	font-size: 24px;
}
.footer-social-link:hover {
	background: #fff;
	background-color: #fff;
	color: #cd201f;
}

.footer-content {
	margin-top: 50px;
	padding: 40px;
	grid-row-gap: 5px;
	grid-column-gap: 5vw;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
}

.footer-details,
.footer-services-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.footer-service-link {
	padding: 5px 10px;
	text-decoration: none;
	font-size: 18px;
	color: #000;
	letter-spacing: 0.3px;
	transition: all 0.3s ease-in-out;
}
.footer-service-link i {
	font-size: 23px;
	color: #19a382;
	margin-right: 10px;
}
.footer-service-link:hover {
	color: #19a382;
}

.footer-link {
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	color: var(--color);
}
.footer-link-icon {
	border: 2px solid var(--color);
	padding: 13px 15px 15px 15px;
	margin-right: 10px;
	border-radius: 100px 100px 20px 100px;
	margin-right: 20px;
	transition: all 0.5s ease-in-out;
}
.footer-link i {
	font-size: 28px;
}
.footer-link-text {
	text-align: left;
	letter-spacing: 0.3px;
}
.footer-link-text h5 {
	font-weight: 900;
	font-size: 23px;
}
.footer-link-text p {
	padding: 0 !important;
}
.footer-link-icon:hover {
	background-color: var(--color);
	color: #fff;
}

.footer-bottom {
	width: 100vw;
	background-color: #19a382;
	padding: 10px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.footer-heading {
	width: 100%;
	position: relative;
	margin: 0 auto 20px;
	padding: 10px 60px;
	text-align: center;
	background-color: #19a382;
	color: #fff;
}

.footer-heading::before,
.footer-heading::after {
	content: '';
	width: 60px;
	height: 110%;
	background-color: #fff;
	position: absolute;
	z-index: 1;
	top: -1px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
	background-image: linear-gradient(45deg, transparent 50%, transparent 50%);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.footer-heading::before {
	left: -20px;
	transform: scaleX(-1);
}

.footer-heading::after {
	right: -20px;
}
.important-links {
	margin-top: 20px;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(#fff, #19a382);
	border-radius: 6px;
}
::-webkit-scrollbar-track {
	background: linear-gradient(#19a382, #fff);
}
::selection {
	background: #19a382;
	color: #fff;
}

@media screen and (max-width: 1050px) {
	.navbar-contact-links {
		flex-direction: column;
		justify-content: center;
	}
	nav {
		align-items: center;
		justify-content: center;
		padding: 0;
	}
	.burger-menu {
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}
	.burger-bar {
		height: 4px;
		width: 30px;
		background-color: #fff;
		border-radius: 10px;
		margin: 3px 0;
	}
	.menu {
		width: 100vw;
		background-color: #19a382;
		padding: 0;
		margin-right: 0px;
		position: absolute;
		top: 190px;
		animation: menuTranslate 0.3s forwards;
		z-index: 10;
	}
	.menu .links {
		width: 100vw;
		height: 100%;
		flex-direction: column;
		justify-content: center;
	}
	@keyframes menuTranslate {
		0% {
			transform: translateX(-50vw);
		}
		100% {
			transform: translateX(0vw);
		}
	}

	.links .link {
		margin: 20px 0;
		color: #fff;
		font-size: 18px;
	}

	.hidden {
		display: none;
	}

	.visible {
		display: inherit;
	}

	.burger-bar.clicked:nth-child(1) {
		width: 30px;
		transform: rotate(45deg) translate(5px, 5px);
		transition: ease-out 0.5s;
	}

	.burger-bar.clicked:nth-child(2) {
		transform: scale(0);
		transition: ease-out 0.5s;
	}

	.burger-bar.clicked:nth-child(3) {
		width: 30px;
		transform: rotate(135deg) translate(-8px, 10px);
		transition: ease-out 0.5s;
	}

	.burger-bar.unclicked {
		transform: rotate(0) translate(0);
		transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
	}
	.footer-content {
		grid-column-gap: 2vw;
		grid-row-gap: 50px;
		grid-template-columns: 1fr 1fr;
		align-self: center;
	}
	.google-reviews {
		width: 100%;
	}

	.homepage-features,
	.itrpage-requirements {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
	}

	.homepage-features-details {
		text-align: left;
		padding: 40px 20px;
	}
	.homepage-features-details h5 i {
		font-size: 24px;
		margin: 0 5px 0 0;
	}
	.itrpage-features-container {
		padding: 0 0;
	}
	.itrpage-features {
		flex-direction: column;
		padding: 40px 2vw 20px 2vw;
	}
	.itrpage-feature:nth-child(1) h4 {
		padding: 0 80px;
	}
	.itrpage-feature:nth-child(2) h4 {
		padding: 0 90px;
	}
	.sample-page-reports {
		flex-direction: column;
	}
	.samplepage-report {
		margin: 30px 20px 10px 20px;
	}
	.itrpage-landing-container p,
	.itrpage-details-container p {
		padding: 10px 20px;
	}
	.propertypage-certificate-container {
		padding: 40px 0;
	}
	.propertypage-certificate-details {
		flex-direction: column;
	}
	.propertypage-certificate-text {
		padding: 20px 20px;
	}
	.propertypage-certificate-text p {
		max-width: 100%;
		text-align: center;
	}
	.contactpage-details {
		flex-direction: column-reverse;
		padding: 20px 0;
	}
	.contactpage-links {
		padding: 0 10px;
	}
}
@media screen and (max-width: 900px) {
	.footer-top {
		flex-direction: column;
		justify-content: center;
		top: -95px;
	}
	.footer-top-links {
		margin-top: 15px;
	}
	.footer-content {
		margin-top: 90px;
	}
	.horizontal-form {
		flex-direction: column;
		width: fit-content;
		padding: 0 0 40px 0;
		align-items: center;
	}
	.horizontal-form .custom-form-input-container {
		margin: 0 0 20px 0;
	}
	.horizontal-form .custom-form-input {
		width: 330px;
	}
	.horizontal-form .custom-form-submit {
		width: 330px;
		margin: 10px;
		top: 0;
	}
	.google-reviews-container {
		padding: 20px;
	}
	.google-reviews {
		align-items: center;
		justify-content: center;
		padding: 20px;
	}
	.google-reviews-company-name img {
		width: 40px;
		height: 40px;
	}
	.google-reviews-company-name h2 {
		font-size: 27px;
	}
	.google-reviews-company-rating span {
		font-size: 14px;
	}
	.google-reviews-details {
		padding: 20px;
		align-items: center;
	}
	.google-review {
		margin: 10px 0;
	}
	.star-container i {
		font-size: 24px;
	}
	.star-small i {
		font-size: 22px;
	}
}
@media screen and (max-width: 800px) {
	.footer-content {
		grid-column-gap: 0;
		grid-template-columns: 1fr;
	}
	.homelanding-services {
		flex-direction: column;
	}
	.homelanding-service {
		width: 90vw;
		height: 150px;
		margin: 0px 0 20px 0px;
	}
	.homelanding-service:nth-child(3) h4 {
		padding: 0 0px;
	}
	.team-details {
		flex-direction: column;
	}
	.team-details h3 {
		width: 80vw;
		height: 100px;
		margin: 40px 0px 0 0;
	}
	.samplepage-details-container {
		padding: 40px 30px;
	}
	.samplepage-certificate {
		width: 95vw;
	}
}
@media screen and (max-width: 500px) {
	.logo-container h1 {
		font-size: 26px;
	}
	.navbar-buttons-container {
		flex-direction: column;
	}
	.navbar-buttons-container button:nth-child(1) {
		margin-right: 0px;
		margin: 10px 0;
	}
	.menu {
		top: 250px;
	}
	.footer-top {
		width: 90vw;
		top: -100px;
	}
	.footer-content {
		margin-top: 100px;
	}
	.footer-top-head h3 {
		font-size: 22px;
	}
	.footer-content {
		padding: 40px 20px;
	}
	.footer-heading {
		padding: 10px 50px;
	}
	.homepage-features-details {
		width: 100%;
	}
	.timeline-item-content {
		margin: 8em 1em 1em 7em;
	}
	.samplepage-report {
		height: 70vh;
		width: 90vw;
	}
}
@media screen and (max-width: 900px) {
	.faq-container .faq-landing {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.faq-landing .faq-text {
		text-align: center;
		margin-top: 20px;
		max-width: 100vw;
		margin: 20px 0 0 0;
	}
	.faq-text h1 {
		font-size: 30px;
		letter-spacing: 2px;
	}

	.faq-info .faq-image,
	.faq-info .faq-text {
		width: 100%;
		text-align: center;
	}
	.faq-image img {
		height: 100%;
		width: 100%;
	}

	.faq-text p {
		margin: 10px 0;
		letter-spacing: 1px;
		max-width: 100%;
		font-size: 16px;
	}
	.accordion-head,
	.accordion-content {
		width: 90%;
	}

	.networth-landing,
	.property-landing {
		flex-direction: column-reverse;
	}
	.networth-landing .networth-landing-text,
	.property-landing .property-landing-text {
		width: 100%;
		height: 100%;
	}
	.networth-landing-details {
		padding: 20px 0px;
	}
	.networth-landing-text h1,
	.property-landing-text h1 {
		font-size: 20px;
	}
	.networth-landing-text p,
	.property-landing-text p {
		margin-top: 10px;
		letter-spacing: 1px;
		font-size: 16px;
	}
	.networth-landing .networth-landing-img,
	.property-landing .property-landing-img {
		width: 100%;
		margin-bottom: 30px;
	}
	.networth-landing-img img,
	.property-landing-img img {
		height: 80%;
		width: 100%;
	}
	.networth-container1,
	.networth-container2 {
		padding: 30px 10px;
	}
	.networth-container1 p,
	.networth-container2 p {
		width: 90vw;
	}
	.networth-container3 .networth-content {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.networth-left,
	.networth-right {
		padding: 20px;
		border-left: 5px solid #0042f6;
		width: 70vw;
		font-size: 13px;
		text-align: left;
	}
	.networth-left h6,
	.networth-right h6 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.networth-left div,
	.networth-right div {
		margin-bottom: 5px;
	}
	.networth-left div span,
	.networth-right div span {
		margin-left: 2px;
	}
	.networth-left {
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.property-container2,
	.property-container3 {
		padding: 20px 0;
	}
}
